nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 26px;
  font-weight: bold;
  color: white;
  height: 80px;
  background-color: rgba(40, 40, 40, 0);
  z-index: 9999;

  .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-item {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 30px;
  }

  .nav-item:hover {
    color: #9E9E9E;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
  }

  .donate-button {
    width: 140px;
    min-width: 140px;
    padding: 8px 0;
    font-size: 26px;
    background-color: #039BE5;
    margin: 0 10px;
    z-index: 2;
  }

  .donate-button:hover {
    background-color: #0277BD;
    transition: background-color 0.2s ease-in-out;
  }

  .hamburger {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 15px;
    padding: 0 20px;
    display: none;
    z-index: 2;
  }

  .hamburger:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .menu {
    position: fixed;
    width: 280px;
    padding-top: 80px;
    top: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(40, 40, 40, 1);
    z-index: 1;
  }

  .menu-item {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .menu-item.one {
    background-color: rgba(75, 75, 75, 1);
  }

  .menu-item.one:hover {
    background-color: rgba(85, 85, 85, 1);
    transition: background-color 0.2s ease-in-out;
  }

  .menu-item.two:hover {
    background-color: rgba(50, 50, 50, 1);
    transition: background-color 0.2s ease-in-out;
  }

  .logo {
    height: auto;
    margin-left: 35px;
  }
}
