<!DOCTYPE html>
<html>
  <head>
    <title>Mendo Shelter Pets</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans|Pacifico|Roboto+Condensed" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="https://res.cloudinary.com/whasting/image/upload/v1494026114/msrp-favicon_uh2ks1.png"/>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
